* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(185, 185, 185);
    color: white;
    font-family: 'popins black', system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
    color: white;
    margin: 2.5vh 2.5vw;
    /* align-items: center; */
    background-color: rgb(77, 77, 77);
    /* text-align: center; */
    height: 15vh;
    /* width: 95vw; */
    border-radius: 9px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-shrink: initial;
    min-width: 20em;
    /* max-height: fit-content; */
    min-height: 45px;
    box-shadow: 4px 4px 3px rgb(73, 73, 73);

}
.nav {
    color: white;
    margin: 5px;
    text-decoration: none;
    float: none;

}

ul {
    width: 95vw;
    list-style: none;
    display: inline;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    min-width: 20em;
}

li {


    display: flex;
    flex-wrap: wrap;
    /* list-style: none;
     padding: 15em 0vw ;
    margin: 11vw;*/
    font-size: 17px;
    font-weight: 800;
}

.button {
    background-color: rgb(128, 128, 128);
    display: flex;
    float: none;
    border-radius: 6px;
    text-shadow: 1.25px 1.25px 3px rgb(73, 73, 73);
    margin: 0;
    padding: 0px 1px 0px 1px;
}
.comingsoon {
    display: flex;
    justify-content: center;
}

#soon {
    margin: 0 1vw 0 1vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* padding: 5vh 5vw 5vh 5vw; */
    border-radius: 9px;
    flex-wrap: wrap;
    /* margin: 5vh 5vw 5vh 5vw; */
    font-size: 10vw;
    color: rgb(255, 255, 255);
    /* font-size: min(68px); */
    font-weight: 775;
    /* text-shadow: 2px 2px 3px rgb(73, 73, 73); */
}

#coming {
    /* margin: 0 0 0 0; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* padding: 5vh 5vw 5vh 5vw; */
    border-radius: 9px;
    flex-wrap: wrap;
    /* margin: 5vh 5vw 5vh 5vw; */
    font-size: 10vw;
    color: rgb(77, 77, 77);
    /* font-size: min(68px); */
    font-weight: 775;
    /* text-shadow: 2px 2px 3px rgb(73, 73, 73); */
}

#dot {
    /* margin: 0 0vw 0 0vw; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* padding: 5vh 5vw 5vh 5vw; */
    border-radius: 9px;
    flex-wrap: wrap;
    /* margin: 5vh 5vw 5vh 5vw; */
    font-size: 10vw;
    color: rgb(255, 255, 255);
    /* font-size: min(68px); */
    font-weight: 775;
    /* text-shadow: 2px 2px 3px rgb(73, 73, 73); */
}
footer {
    margin: 5vh 0 0 0;
    padding: 0;
    align-items: center;
    background-color: rgb(77, 77, 77);
    text-align: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    min-width: 20em;
    min-height: 45px;
    color: white;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}